<%= form_for(@row) do |f| %>
  <% if @row.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@row.errors.count, "error") %> prohibited this scaffold_demo from being saved:</h2>

      <ul>
      <% @row.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Sexual</label>
    <br>
    <%= f.label :sex_1, class: 'radio-inline' do %>
      <%= f.radio_button :sex, "1" %>
      male
    <% end %>
    <%= f.label :sex_0, class: 'radio-inline' do %>
      <%= f.radio_button :sex, "0" %>
      female
    <% end %>
  </div>

  <div class="form-group">
    <label>Adult</label>
    <br>
    <%= f.label :adult, class: 'checkbox-inline' do %>
      <%= f.check_box :adult, options:nil, checked_value: "1", unchecked_value: "0" %>
      I'm 18 years old
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :job %>
    <% test_data = [['financial','financial'],['option2','value2'],['option3','value3']] %>
    <%= f.select :job, test_data, {include_blank: false}, {class: 'form-control'}%>
  </div>

  <div class="form-group">
    <div class='input-group date'>
      <%= f.text_field :notified_at, class: 'form-control' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: 'form-control' %>
  </div>

  <%= f.submit(class: 'btn btn-default')%>
<% end %>
