<% test_data = [['option1','value1'],['option2','value2'],['option3','value3']] %>

<%= form_for(@row) do |f| %>
  <% if @row.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@row.errors.count, "error") %> prohibited this scaffold_demo from being saved:</h2>

      <ul>
      <% @row.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <br>
    <label for="">
      <%= f.radio_button :name, "1", checked: true %>
      male
    </label>
    <label for="">
      <%= f.radio_button :name, "0", checked: false %>
      female
    </label>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <br>
    <label for="">
      <%= f.check_box :name, checked: true %>
      after 18
    </label>
    <label for="">
      <%= f.check_box :name, checked: false %>
      before 65
    </label>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.select :name, test_data, {include_blank: false}, {class: 'form-control'}%>
  </div>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: 'form-control' %>
  </div>

  <%= f.submit(class: 'btn btn-default')%>
<% end %>
