<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    Listing Scaffold Demos
  </h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="3"></th>
        <th>ID</th>
        <th>Name</th>
        <th>Comment</th>
        <th>Created date</th>
        <th>Updated date</th>
      </tr>
    </thead>

    <tbody>
      <% @scaffold_demos.each do |scaffold_demo| %>
        <tr>
          <td><%= link_to 'Show', scaffold_demo %></td>
          <td><%= link_to 'Edit', edit_scaffold_demo_path(scaffold_demo) %></td>
          <td><%= link_to 'Destroy', scaffold_demo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= scaffold_demo.id %></td>
          <td><%= scaffold_demo.name %></td>
          <td><%= scaffold_demo.comment %></td>
          <td><%= scaffold_demo.created_at.localtime %></td>
          <td><%= scaffold_demo.updated_at.localtime %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Scaffold demo', new_scaffold_demo_path %>
</div>
