<p id="notice"><%= notice %></p>

<h1>Listing Scaffold Demos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scaffold_demos.each do |scaffold_demo| %>
      <tr>
        <td><%= scaffold_demo.name %></td>
        <td><%= scaffold_demo.comment %></td>
        <td><%= link_to 'Show', scaffold_demo %></td>
        <td><%= link_to 'Edit', edit_scaffold_demo_path(scaffold_demo) %></td>
        <td><%= link_to 'Destroy', scaffold_demo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scaffold demo', new_scaffold_demo_path %>
