<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scaffold_demo.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @scaffold_demo.comment %>
</p>

<%= link_to 'Edit', edit_scaffold_demo_path(@scaffold_demo) %> |
<%= link_to 'Back', scaffold_demos_path %>
